html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #E9F1F8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  pointer-events: none;
  padding: 7px;
  border-radius: 5px;
  font-size: 15px;
}


.mouth-info {
  background-color: #EDDFD3;
  color: #656B69;
  width: 200px;
}

.tooth-info {

  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #EDDFD3;
  color: #656B69;
  width: 100vw;
  margin-top: 20px;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  max-width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(calc(100% - 60px));
  transition: transform 0.3s ease-in-out;
  height: auto;
  max-height: 300vh;
}

.tooth-info.active {
  transform: translateY(0);
  max-height: 300vh;
}

.tooth-info-header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
  text-align: center;
  color: #656B69;
}

.tooth-info-content {
  font-size: 16px;
  max-height: calc(66.5vh - 100px);
  overflow-y: auto;
  overscroll-behavior: contain;
  display: flow-root;
  padding-top: 24px;
  padding-bottom: 32px;
}

.tooth-info-content p {
  word-wrap: break-word;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;

}

.top-icon {
  position: relative;
  width: 100%;
  height: 10vh;
}

.top-icon-text {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-Index: 100;
}

.top-icon image {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-Index: 100;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}

.main-3d {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mouth-instructions {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mouth-container canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 80vh;
}

.mouth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.filter-menu {
  position: absolute;
  left: 0;
  top: 0;
  background: #FFFDF6;
  color: #656B69;
  z-index: 10;
  width: 180px;
  height: 100vh !important;
  padding: 32px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.filter-menu.active {
  transform: translateX(0);
}

.filter-title {
  font-size: 20px;
  margin-bottom: 32px;
  color: #333333;
}
.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
}
.filter-label {
  font-size: 16px;
}

.treatment-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.treatment-item {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
}