html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #E9F1F8;
}

p {
  text-align: center;
  width: 200px;
  font-family: sans-serif;
  pointer-events: none;
  background-color: #EDDFD3;
  color: #656B69;
  padding: 7px;
  border-radius: 5px;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}